@import "neat/neat-helpers";
$bp-desktop: new-breakpoint(min-width 980px);
$bp-mobile: new-breakpoint(max-width 980px-1);
@import "neat";

/*----------------------
   Hero Customizer
-----------------------*/
.hero-image{
	width:100%;
	min-height:40vh;
	overflow: hidden;
  margin: 0;
  position: relative;
	img {
    position:absolute;
    vertical-align: middle;
    max-width: 100%;
	}
}
.gradient-overlay{
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	left:0;
}
.page-claim{
	padding-top:25vh;
	position:relative;
	line-height:1.4;
}
.page-claim-title{
	font-weight: 600;
	margin-bottom:0;
	font-size: 42px;
}
.page-claim-subtitle{
	font-weight: 400;
	margin:0;
	font-size: 36px;
}
.columns-description{
	margin: 60px 0;
	position: relative;
	color: $white;
	font-size: 16px;
}
//Custom styles for hero call to action
.cta-hero{
	position: relative;
	margin: 40px 0;
	font-family: $secondary-font;
	font-size: 17px;
	min-height: 50px;
	.mainCta{
		background-color: $white;
		color:$dark-blue;
		padding: 1rem 2rem;
		border-radius: 3px;
		font-weight: 600;
		&:hover{
			transition: all 0.14s;
			text-decoration: none;
			background-color: darken($white, 5%);
			-webkit-transition: all .35s ease-in-out;
    	transition: all .35s ease-in-out;
		}
	}
	.secondCta{
		color: $white;
		margin: 30px 0;
		display: inline-block;
		padding: .7rem 1.7rem;
		border: 2px solid white;
		border-radius: 3px;
		@include media($bp-desktop) {
			margin: 0;
			border: none;
		}
	}
}
.popupOverlay{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	overflow: scroll;
	overflow-x: hidden;
	text-align: center;
	background-color: rgba(0,0,0,.2);
	-webkit-overflow-scrolling: touch;
}


// ***********************************
// Contact form class included in here
// ***********************************

.popupContent{
	background-color: $white;
	display: inline-block;
	border-radius: 3px;
	margin-top: 15vh;
	margin-bottom: 15vh;
	padding:60px;
	width: 380px;
	@include media($bp-desktop) {
		width: 500px;
	}
	min-height: 200px;
	position: relative;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);
	text-align: left;
	h3{
		color: $orange;
		font-weight: 600;
	}
	input, textarea{
		background-color: $light-gray;
		border: 1px solid $gray;
		height: 50px;
		margin: 0;
		border-radius: 3px;
		padding-left:15px;
	}

	input[type="submit"]{
		background: $orange;
		color: $white;
		font-family: $secondary-font;
		font-weight: 600;
		text-transform: uppercase;
		border: none;
	}

	select {
		 margin: 0;
		 border: 1px solid $gray;
		 background-color: $light-gray;
		 width: 100%;
		 padding: .5em;
		 padding-left: 15px;
		 font-size: 16px;
		 height: 50px;
		 border-radius: 3px;
		 -webkit-appearance: none;
		 -moz-appearance: none;
		 appearance: none;
		 font-size: 0.9rem;
		 font-family: $secondary-font;
		 color: $dark-gray;
	 }

	 label{
		 font-size: 14px;
	 }
}
.hide-popup{
	display: none;
}
.is-popup-on{
	overflow-y:hidden;
	padding-right: 15px;
}

.customers-hero{
	margin: 60px 0 40px;
	position: relative;
	display: inline-block;
	min-height: 80px;

	.customers-label{
		color: $white;
		font-family: $secondary-font;
		font-size: 14px;
		margin-top: 30px;
	}
	.customer-logo{
		height: 80px;
		width: 160px;
		background-size: cover;
		background-position: center;
		display: inline-block;
		margin: 0 auto;
	}
}

.s-hidden{
	display: none;
	@include media($bp-desktop) {
		display: inherit;
	}
}
