/*----------------------
   Widgets style
-----------------------*/
.widgets{
    .widget{
        margin-bottom: 1em;
    }

    .widgettitle{
        margin: 1.5em 0 .5em;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        color: $light-blue;
        font-family: $secondary-font;
    }
}
